/* styles.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-delete,
.btn-update,
.btn-new {
    background-color: #048451;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-delete,
.btn-update{
    margin-right : 5px;
}

.btn-new:hover {
    background-color: #048451;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

thead {
    background-color: #048451;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}
